body {
    display: flex;
    justify-content: center;
}


#carpet {
    display: grid;
    justify-content: center;
    grid-gap: 10px 15px;
    grid-template-rows:auto;
    grid-template-columns: repeat(4, 15%);
    width: 950px;
    font-size: large;
    font-weight: bold;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}